// DO NOT DELETE
{
    "ConnectionStrings": {
		// for Windows authentication
        "dbcs": "Server=localhost;Database=<dbName>;Trusted_Connection=True;TrustServerCertificate=True;"
        // for SQL server authentication
		//"dbcs": "Server=localhost;Database=<dbName>;User Id=<dbUser>;Password=<dbPassword>;TrustServerCertificate=True;"
    },
    "JwtSettings": {
        "Issuer": "<Issuer>",
        "Audience": "<Audience>",
        "SecretKey": "<secret>"
    }
}