{
    "ConnectionStrings": {
        "dbcs": "Server=<ServerHost>;Database=<DBName>;User Id=<UserName>;Password=<Password>;TrustServerCertificate=True;"
    },
    "JwtSettings": {
        "Issuer": "JwtCrudDemoIssuer",
        "Audience": "JwtCrudDemoAudience",
        "SecretKey": "<SecretKey>"
    }
}